pkgbase = pidtrail
	pkgdesc = Linux process-scoped runtime investigator for process, file, and network timelines
	pkgver = 0.2.1
	pkgrel = 1
	url =
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	source = pidtrail-0.2.1.tar.gz
	sha256sums = af5f921af5af4df8e7fe8fa4275ff2f40d915f91b9a527abe46d34da29190d64

pkgname = pidtrail
