pkgbase = pidtrail
	pkgdesc = Linux process-scoped runtime investigator for process, file, and network timelines
	pkgver = 0.2.0
	pkgrel = 1
	url =
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	source = pidtrail-0.2.0.tar.gz
	sha256sums = fccfc0908042eb4be09551d6dc9899dd5854a8d237b04bd5f4cb1119a42a9f0f

pkgname = pidtrail
